.friends{
    border: 1px solid white;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.userbox{
    width: 100%;
    height: 500px;
    border: 1px solid white;
    border-radius: 10px;
}